.landing_section {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: transparent;
}

.card {
  width: 90%;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

.card span {
  color: var(--secondary);
  text-decoration: underline;
  text-decoration-color: var(--terciary);
}

.action_area {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

@media (min-width: 1025px) {

  .card {
    width: 40%;
  }  
  
  .action_area {
    flex-flow: row wrap;
    gap: 2rem;
  }
}

